<template>
  <div id="app" style="background: url('http://f.ptcdn.info/484/006/000/1371921901-B02I1199-o.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;">
    <div class="ui inverted stackable menu">
      <!--@click="gotoHome"-->
      <a class="item" ><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f2/Flag_map_of_Thailand.svg/558px-Flag_map_of_Thailand.svg.png" style="width:35px; height:40px;"></a>
      <a class="item" style="margin-bottom: 5px;">Travel in Thailand</a>
      <div class="right menu">
        <!--<router-link to="/signin"><a class="ui teal button" style="margin-top: 11px; margin-right: 10px">Sign In</a></router-link>-->
        <!--<router-link to="/signup"><a class="ui inverted yellow button" style="margin-top: 11px; margin-right: 8px">Sign Up</a></router-link>-->
        <!--<router-link to="/profile"><a class="ui inverted blue button" style="margin-right: 8px; margin-top: 11px;">Profile</a></router-link>-->
        <!--<router-link to="/signin"><a class="ui yellow button" style="margin-top: 11px; margin-right: 8px" @click="logout">Logout</a></router-link>-->
      </div>
    </div>
    <router-view/>
    <div class="ui inverted vertical footer segment" >
    <div class="ui container" style="text-align:center;">
        <p>
          <span style="color:LightGray;">EGCO 427_Web Programming</span>
        <br/>
          <span style="color:rgb(180, 180, 180);">ภัทรธร กีรตวนิชเสถียร  |  สิรภพ คำรัตน์  |  ณภัทร เอื้อวงษ์สุวรรณ  |  นภสร ซื่อเสงี่ยมสกุล</span>
        </p>  
    </div>
</div>
  </div>
</template>

<script>
export default {
  name: 'App',
  methods: {
    logout () {
      firebase.auth().signOut()
        .then(() => {
          this.$router.replace('/signin')
        })
        .catch((e) => {
          alert(e.message)
        })
    },
    // checkUser() {
    //   firebase.auth().onAuthStateChanged(function(user) {
    //     if (user) {
    //       // User is signed in.
    //       var displayName = user.displayName;
    //       var email = user.email;
    //       var emailVerified = user.emailVerified;
    //       var photoURL = user.photoURL;
    //       var isAnonymous = user.isAnonymous;
    //       var uid = user.uid;
    //       var providerData = user.providerData;
    //     }
    //   });
    // },
    // gotoHome(){
    //   this.$router.replace('/home')
    // }
  }
  
}
</script>

<style>
.ui.footer.segment {
  margin: 1em 0em 0em;
  padding: 1em 0em;
}
</style>
