<template>
  
  <div class="home">
      
   <div class="ui raise segment" style="margin:50px; border-color:#48C9B0; padding:40px;  border-width: thick; background-color: rgba(0, 0, 0, 0.5);">
     
     <div align="right">
     
        <a class="ui blue inverted button" @click="gotoProfile">Profile</a>&emsp;
        <a class="ui yellow inverted button" @click="logout">Log out</a>
      </div>
      <h1 class="ui top attached header" style="text-align:center; color:white; background-color:#48C9B0; border-color:#48C9B0;"><i class="plane icon"></i>Travel in Thailand</h1>
      <br>
     <br>
      <div class="ui two link cards"  >
        <div class="card" v-for="(cityName,key) in places.slice(0,6)" :key="key" >
          
          <div class="image" @click="gotoRegion(cityName.regionname)">
            <img :src="'static/' + cityName.regionname + '.jpeg'">
          </div>
          
          <div class="content" @click="gotoRegion(cityName.regionname)">
            <div class="header" style="text-align:center">{{cityName.regionname}}</div>
          </div> 
          
        </div>
      </div>
    </div>
  
  
  
      <div class="ui raise segment" style="margin:50px; border-color:#48C9B0; padding:40px;  border-width: thick; ">
        <h1 class="ui top attached header" style="text-align:center; color:white; background-color:#48C9B0; border-color:#48C9B0;"><i class="star yellow icon"></i>Top 10 in Thailand</h1>
        <br><br>
        <div class="ui five link cards">
          <div class="card" v-for="(sortName,key) in val.slice(0,10)" :key="key">
              <div class="image" @click="gotoDetail(sortName[1])">
                <img :src="'static/' + sortName[3]">
              </div>
              <div class="content" @click="gotoDetail(sortName[1])">
                <div class="header">{{sortName[1]}}</div>
                <div class="meta">
                  <a>{{sortName[0]}}</a>
                </div>
                <br>
                <span>
                    <i class="ui like red icon" style="color:pink" @click="gotoDetail(sortName[1])"></i>
                    {{sortName[2]}}
                  </span>
              </div>
          </div>
        </div>
        <br><br><br/><br/>
      </div>
      
  </div>
  
</template>


<script>
import { Carousel, Slide } from 'vue-carousel';
export default {
 data () {
    return {
      regionname: '',
      places:{},
      cities:{},
      val: [],
      search:''
    }
  },
  
  created(){
      firebase.database().ref().on('value',(snapshot)=>{
        this.places=snapshot.val()
        for(var i=0; this.places.length>i+1; i++){
            for(var j=0; this.places[i].place.length>j; j++){
                this.val.push([this.places[i].place[j].province,this.places[i].place[j].placename,this.places[i].place[j].heart,this.places[i].place[j].image])
            }
        }
        this.val.sort(function(a, b){return b[2] - a[2]})
      })
  },

  methods: {
    onSlideStart (slide) {
      this.sliding = true
    },
    onSlideEnd (slide) {
      this.sliding = false
    },
    gotoRegion (regionname) {
      this.$router.replace('/region/' + regionname + '/' + this.$route.params.username)
    },
    gotoDetail (placename) {
      this.$router.replace('/detail/' + placename + '/' + this.$route.params.username)
    },
    gotoProfile () {
       this.$router.replace('/profile/' + this.$route.params.username)
    },
    logout () {
      firebase.auth().signOut()
        .then(() => {
          this.$router.replace('/signin')
        })
        .catch((e) => {
          alert(e.message)
        })
    },
    // searchfunction(){
    //   alert("search")
    // }
  }
}

</script>

<style>


</style>
