<template>
  <div class="profile">
    <div align="right">
        <a class="ui yellow inverted button" @click="logout" style="margin-right:100px;">Log out</a>
      </div>
      
    <br>
    <h2 class="ui center aligned header" style="color:white;"><i class="user white icon" style="margin-bottom: 6px; "></i>Username : {{name}}</h2>
    <div class="ui segment" style="margin-left: 100px; margin-right: 100px; background-color: rgba(0, 0, 0, 0.5);">
      <h2 style="color: white;">Comment <i class="comment outline icon"></i>:</h2>'
      <div v-for="(comment,key) in comments" :key="key">
        <div class="ui segment"><p><i class="quote left icon"></i>{{comment[0]}}<i class="quote right icon"></i></p>
          <div class="item" align="right">
            <i class="clock outline icon"></i>{{comment[1].slice(0,25)}}&emsp;<i class="th flag"></i>{{comment[2]}}
          </div>
        </div>
        <br>
      </div>
      <br>
      <div class="row" style="text-align:center;">
        <div class="ui animated fade button" tabindex="0" style="color:teal; width:100px;" @click="gobackHome">
          <div class="visible content"><i class="reply icon"></i></div>
          <div class="hidden content">Back</div>
        </div>
      </div>
      <br>
    </div>
    <!--<div class="ui inverted red segment" style="margin-left: 250px; margin-right: 250px;">-->
    <!--  <h2>Like <i class="heart outline icon"></i>:</h2>-->
    <!--  <div class="ui segment" style="margin-left: 100px; margin-right: 100px;"><p>You liked <i class="heart red icon"></i>สถานที่ท่องเที่ยวในประเทศไทย</p>-->
    <!--    <div class="item" align="right">-->
    <!--      <i class="clock outline icon"></i>12 Aug 2017-->
    <!--    </div>-->
    <!--  </div>-->
    <!--  <br>-->
    <!--  <div class="ui segment" style="margin-left: 100px; margin-right: 100px;"><p>You liked <i class="heart red icon"></i>สถานที่ท่องเที่ยวในประเทศไทย</p>-->
    <!--    <div class="item" align="right">-->
    <!--      <i class="clock outline icon"></i>12 Aug 2017-->
    <!--    </div>-->
    <!--  </div>-->
    <!--  <br>-->
    <!--  <div class="ui segment" style="margin-left: 100px; margin-right: 100px;"><p>You liked <i class="heart red icon"></i>สถานที่ท่องเที่ยวในประเทศไทย</p>-->
    <!--    <div class="item" align="right">-->
    <!--      <i class="clock outline icon"></i>12 Aug 2017-->
    <!--    </div>-->
    <!--  </div>-->
    <!--</div>-->
  </div>
</template>

<script>
export default {
  name: 'profile',
  data () {
    return {
      name: this.$route.params.username,
      allcomments: {},
      comments: []
    }
  },
  mounted() {
    firebase.database().ref('6').on('value',(snapshot)=>{
        this.allcomments=snapshot.val()
        for(var i=0; this.allcomments.username.length>i; i++){
          if(this.allcomments.username[i].user == this.name){
            this.comments.push([this.allcomments.username[i].comment,this.allcomments.username[i].datetime,this.allcomments.username[i].placename])
          }
        }
    })
  },
  methods:{
    gobackHome(){
      this.$router.replace('/home/'+this.name)
    },
    logout () {
      firebase.auth().signOut()
        .then(() => {
          this.$router.replace('/signin')
        })
        .catch((e) => {
          alert(e.message)
        })
    }
    
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
