<template>
  <div class="region">
    
    
    <div class="ui raise segment" style="margin:50px; border-color:#48C9B0; padding:40px;  border-width: thick; background-color: rgba(0, 0, 0, 0.7);">
      <div align="right">
        <a class="ui blue inverted button" @click="gotoProfile">Profile</a>&emsp;
        <a class="ui yellow inverted button" @click="logout">Log out</a>
      </div>
      
      <h1 class="ui top attached header" style="text-align:center; color:white; background-color:#48C9B0; border-color:#48C9B0;">{{param}}</h1>
      <br/>
      <br/>

           <div v-for="(name,key) in regionn" :key='key'> 
           
            <div v-if=" param == name.regionname ">
              <!-- <h1 style="color:red">{{param}}</h1>
              <h1 style="color:blue">{{name.regionname}}</h1> -->
          <sui-card-group :items-per-row="4" >
    
            <sui-card v-for="(namee,key) in name.place" :key='key' style="align:center"> 
              
              <!--<router-link :to="{path: '/detail/'+ namee.placename +paramname}">-->
              <img :src="`/static/${namee.image}`" width=100% @click="gotoDetail(namee.placename)">
              <sui-card-content extra>
              <p style="text-align:center" @click="gotoDetail(namee.placename)">{{namee.placename}}
              <br/>
              จังหวัด: {{namee.province}}
              <br/>
              <i class="ui like icon" style="color:pink;"></i> <font style="color:pink;">{{namee.heart}}</font>
              </p>
              </sui-card-content>
              <!--</router-link>-->
              
            </sui-card>
          </sui-card-group>
          </div>
            </div>
       <br><br>
          <!-- <input type="text" class="form-control" placeholder="Add New Item" v-model='movie' @keyup.enter='addMovie'> -->
         <div class="row" style="text-align:center;">
        <div class="ui animated fade button" tabindex="0" style="color:teal; width:100px;" @click="gobackHome">
          <div class="visible content"><i class="reply icon"></i></div>
          <div class="hidden content">Back</div>
        </div>
      </div>
      </div>
      <!--<div class="row" style="text-align:center;">-->
      <!--  <div class="ui animated fade button" tabindex="0" style="color:teal; width:100px;" @click="gobackHome">-->
      <!--    <div class="visible content"><i class="reply icon"></i></div>-->
      <!--    <div class="hidden content">Back</div>-->
      <!--  </div>-->
      <!--</div>-->
      <br/><br/>

  </div>
</template>

<script>
export default {
  name: 'region',
  data () {
    return {
      // movie: null,
      regionn : {},
      param : '',
      paramname:''
    
    }
  },
  created(){
      this.param = this.$route.params.regionname
      this.paramname = this.$route.params.username
      console.log(this.param)
      firebase.database().ref().on('value',(snapshot) => {

        this.regionn = snapshot.val()
        console.log(this.regionn)
      })
      
    },
  methods: {
    gotoDetail (placename) {
      this.$router.replace('/detail/' + placename + '/' + this.paramname)
    },
    gobackHome(){
      this.$router.replace('/home/'+this.paramname)
    },
    gotoProfile () {
       this.$router.replace('/profile/' + this.$route.params.username)
    },
    logout () {
      firebase.auth().signOut()
        .then(() => {
          this.$router.replace('/signin')
        })
        .catch((e) => {
          alert(e.message)
        })
    }
    // addMovie () {
    //   firebase.database().ref('regions').push({regionname: this.movie})
    //     .then((data) => {
    //       console.log(data)
    //     })
    //     .catch((error) => {
    //       console.log(error)
    //     })
    // }
}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}


</style>
