<template>
  <div class="container">
    <form>
      <div class="ui segment" style="margin-top: 100px; margin-left:100px; margin-right:100px; padding: 2%; background-color: rgba(0, 0, 0, 0.5);">
        <div class="ui teal segment" align="left">
            <div class="ui teal ribbon label">SignUp</div>
        </div>
        
      <div class="ui inverted segment">
      <div class="ui inverted form">
        <div class="two fields">
          <div class="field">
            <label>Email Address</label>
            <input placeholder="Email Address :" type="email" v-model="formData.email">
          </div>
          <div class="field">
            <label>Password</label>
            <input placeholder="Password :" type="password"  v-model="formData.password">
          </div>
        </div>
        <br>
        <span>{{ date | moment }}</span>
        <center >
          <button class="ui right blue button" type="submit" @click="signUp" style="margin-right:30px">SignUp</button>
          <button class="ui right red button" type="submit" @click="gobackSignin">Cancle</button>
        </center>
      </div>
    </div>   
      </div>
    </form>
  </div>
  
</template>

<script>
export default {
  name: "signup",
  data() {
      return{
          formData: {
              email: '',
              password: ''
          }
      }
  },
  methods: {
    signUp() {
        firebase.auth()
            .createUserWithEmailAndPassword(this.formData.email,this.formData.password)
            .then(user => {
                // this.$router.replace('/signin')
                firebase.auth().signInWithEmailAndPassword(this.formData.email, this.formData.password)
                  .then(user => {
                      this.$router.replace('/home/'+this.formData.email)
                  })
                  .catch(e => {
                      alert(e.message)
                  })
            })
            .catch(e => {
                alert(e.message)
            })       
    },
    gobackSignin() {
      this.$router.replace('/signin')
    }
  }
  


}

</script>

<style>

</style>


